@keyframes transitionEnter{
  
  40% {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@keyframes transitionLeave{
  to {
    opacity: 1;
  }
}

.fadeIn, .fadeOut {
  &::after {
    content: '';
    background: black;
    display: block;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
}

.fadeIn {
  &::after {
    opacity: 1;
    animation: transitionEnter 1s ease forwards;
  }
}

.fadeOut {
  &::after {
    opacity: 0;
    animation: transitionLeave 1s ease forwards;
  }
}